<div class="container">
  <h2 class="text-center">Attribution de menus</h2>
  <% @menus.each do |menu| %>
    <h3>
      <%= menu.name %> -- <%= menu.date %>
    </h3>
    <% if menu.clients.empty? %>
      <h2>Ce menu n'a pas encore de clients sélectionnés</h2>
    <% else %>
      <% menu.clients.each do |client| %>
        <p>
          <%= client.name %>
        </p>
      <% end %>
    <% end %>
    <%= link_to "attribution du menu", new_menu_choice_path(menu_id: menu), class: "btn btn-dark"  %>
  <% end %>
</div>
